@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  font-family: 'Exo 2', sans-serif;
}

#debug-output {
  max-height: 224px;
}

#upload-progress-bar {
	font-size: 200%;
	padding: 26px 0px;
}

.caption-wait {
  font-size: 200%;
  color: #aaa;
}